.hero_section {
  padding: 2rem;
  background: var(--background);

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;

    .logo {
      position: relative;
      span {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;

        display: flex;
        align-items: center;

        background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

      img {
        position: absolute;
        right: -16px;
        top: -12px;
      }
    }

    ul {
      display: flex;
      list-style: none;
      gap: 1rem;

      li {
        a {
          color: var(--text-secondary);
          text-decoration: none;

          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;

          transition: all 0.2s ease-in;
        }

        a:hover {
          color: var(--primary-color);
        }

        .active {
          color: var(--primary-color);
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 28px;
      gap: 10px;

      width: 280px;
      height: 56px;

      background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
      box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
      border-radius: 100px;
      border: none;
      color: white;
      transition: all 0.5s ease-in-out;

      font-weight: 600;
      font-size: 18px;
      line-height: 23px;

      &:hover {
        background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
        box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
        transform: translateY(-5px);
      }
    }
  }

  .container {
    display: flex;
    max-width: 1120px;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;

    .principal {
      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        display: flex;
        align-items: center;

        /* Gradient 1 */

        background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

      p {
        font-family: "Sora";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
        color: var(--text-secondary);
      }

      button {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 28px;
        gap: 10px;

        width: 260px;
        height: 56px;

        background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
        box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
        border-radius: 100px;
        border: none;
        color: white;
        transition: all 0.5s ease-in-out;

        font-weight: 600;
        font-size: 18px;
        line-height: 23px;

        &:hover {
          background: linear-gradient(
            96.14deg,
            #3a8ef6 -10.84%,
            #6f3afa 196.74%
          );
          box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
          transform: translateY(-5px);
        }
      }
    }
  }
}

.partners_section {
  background: var(--background-secondary);
  padding: 48px 195px;
  box-sizing: border-box;

  h2 {
    display: block;
    text-align: center;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #031432;

    opacity: 0.8;
  }

  .partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1120px;
    margin-top: 48px;
  }
}

.our_services {
  background: var(--background);
  padding: 120px 0;
  .container {
    max-width: 1120px;
    margin: 0 auto;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #031432;

        opacity: 0.8;
      }

      p {
        width: 565px;
        height: 48px;

        font-family: "Sora";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #6c87ae;

        opacity: 0.8;
      }
    }

    .services {
      margin-top: 64px;
      display: flex;
      gap: 36px;

      .service_card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 32px;

        width: 346px;

        background: #ffffff;
        box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
        border-radius: 24px;

        .content {
          h3 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 21px;
            color: #000000;
          }

          p {
            margin-top: 12px;
            font-family: "Sora";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6c87ae;
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 16px 28px;
          gap: 10px;

          width: 280px;
          height: 56px;

          background: linear-gradient(
            96.14deg,
            #3a8ef6 -10.84%,
            #6f3afa 196.74%
          );
          box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
          border-radius: 100px;
          border: none;
          color: white;
          transition: all 0.5s ease-in-out;

          font-weight: 600;
          font-size: 18px;
          line-height: 23px;

          &:hover {
            background: linear-gradient(
              96.14deg,
              #3a8ef6 -10.84%,
              #6f3afa 196.74%
            );
            box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}

.our_clinic {
  background: var(--background);
  padding: 120px 0;

  .container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    gap: 42px;
    align-items: center;

    img {
      border-radius: 2rem;
    }

    .content {
      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        display: flex;
        align-items: center;
        color: #031432;
      }

      p {
        font-family: "Sora";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #6c87ae;
        width: 485px;
        margin-top: 16px;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 28px;
        gap: 10px;
        margin-top: 32px;

        width: 250px;
        height: 56px;

        background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
        box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
        border-radius: 100px;
        border: none;
        color: white;
        transition: all 0.5s ease-in-out;

        font-weight: 600;
        font-size: 18px;
        line-height: 23px;

        &:hover {
          background: linear-gradient(
            96.14deg,
            #3a8ef6 -10.84%,
            #6f3afa 196.74%
          );
          box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
          transform: translateY(-5px);
        }
      }
    }
  }
}

.our_space {
  background: var(--background);
  padding: 120px 0;

  .container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    gap: 42px;
    align-items: center;

    .content {
      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        display: flex;
        align-items: center;
        color: #031432;
        width: 485px;
      }

      p {
        font-family: "Sora";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #6c87ae;
        width: 485px;
        margin-top: 16px;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 28px;
        gap: 10px;
        margin-top: 32px;

        width: 168px;
        height: 56px;

        background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
        box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
        border-radius: 100px;
        border: none;
        color: white;
        transition: all 0.5s ease-in-out;

        font-weight: 600;
        font-size: 18px;
        line-height: 23px;

        &:hover {
          background: linear-gradient(
            96.14deg,
            #3a8ef6 -10.84%,
            #6f3afa 196.74%
          );
          box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
          transform: translateY(-5px);
        }
      }
    }
  }
}

.marketing {
  background: var(--background);
  padding: 120px 0;

  .container {
    max-width: 1120px;
    margin: 0 auto;
    height: 329px;
    background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
    box-shadow: 0px 20px 24px rgba(65, 132, 247, 0.24);
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      color: #ffffff;
    }

    p {
      font-family: "Sora";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
      opacity: 0.8;
    }

    .buttons {
      display: flex;
      gap: 32px;

      .calendarButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 28px;
        gap: 10px;
        margin-top: 32px;

        width: 168px;
        height: 56px;

        border-radius: 100px;
        background: transparent;
        border: 1px solid white;
        color: white;
        transition: all 0.5s ease-in-out;

        font-weight: 600;
        font-size: 18px;
        line-height: 23px;

        &:hover {
          transform: translateY(-5px);
        }
      }

      .whatsButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 28px;
        gap: 10px;
        margin-top: 32px;

        width: 168px;
        height: 56px;

        background: #ffffff;
        box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
        border-radius: 100px;
        border: none;
        color: var(--primary-color);
        transition: all 0.5s ease-in-out;

        font-weight: 600;
        font-size: 18px;
        line-height: 23px;

        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}

.testimonial {
  background: var(--background);
  padding: 120px 0;

  .container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      color: #031432;
    }

    .description {
      font-family: "Sora";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #6c87ae;
      width: 676px;
      margin-top: 16px;
    }

    .testimonials {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      margin-top: 40px;

      .testimonial_card {
        padding: 32px;
        background: #ffffff;
        box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
        border-radius: 32px;

        .testimonial_text {
          width: 471px;
          font-family: "Poppins";
          font-style: italic;
          font-weight: 300;
          font-size: 20px;
          line-height: 30px;
          display: flex;
          align-items: center;
          color: #031432;
        }

        .testimonial_pacient {
          margin-top: 32px;
          display: flex;
          gap: 16px;

          h3 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #3a8ef6;
          }

          p {
            font-family: "Sora";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #6c87ae;
          }
        }
      }
    }
  }
}

.frequently_asked_questions {
  background: var(--background);
  padding: 120px 0;

  .container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      color: #031432;
    }

    .description {
      font-family: "Sora";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #6c87ae;
      width: 676px;
      margin-top: 16px;
    }

    .frequently_asked_questions {
      .accordionMenu {
        display: inline-block;
        position: relative;
        left: 50%;
        //margin: 150px 0;
        transform: translate(-50%, 0);
        max-width: 100%;
        //padding: 10px 20px 20px;
        border-radius: 5px;
      }
      h2 {
        font-size: 18px;
        line-height: 34px;
        font-weight: 500;
        letter-spacing: 1px;
        display: block;
        margin: 0;
        cursor: pointer;
        color: #6c6c6a;
        text-align: left;
      }
      p {
        color: rgba(48, 69, 92, 0.8);
        font-size: 15px;
        line-height: 26px;
        letter-spacing: 1px;
        position: relative;
        overflow: hidden;
        max-height: 800px;
        opacity: 1;
        transform: translate(0, 0);
        margin-top: 14px;
        z-index: 2;
      }
      ul {
        list-style: none;
        perspective: 900;
        padding: 0 20px 10px;
        margin: 0;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),
          0 2px 2px 0 rgba(255, 255, 255, 0.19);
      }
      ul li {
        position: relative;
        padding: 0;
        margin: 0;
        padding-bottom: 4px;
        padding-top: 18px;
        border-top: 1px dotted #dce7eb;
      }

      ul li:nth-child(1) {
        border: none;
      }
      ul li:nth-of-type(1) {
        animation-delay: 0.5s;
      }
      ul li:nth-of-type(2) {
        animation-delay: 0.75s;
      }
      ul li:nth-of-type(3) {
        animation-delay: 1s;
      }
      ul li:last-of-type {
        padding-bottom: 0;
      }

      ul li .arrow {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        right: 0;
      }
      ul li .fas {
        color: #f6483b;
        font-size: 15px;
        margin-right: 10px;
      }
      ul li .arrow:before,
      ul li .arrow:after {
        content: "";
        position: absolute;
        background-color: #f6483b;
        width: 3px;
        height: 9px;
      }
      ul li .arrow:before {
        transform: translate(-2px, 0) rotate(45deg);
      }
      ul li .arrow:after {
        transform: translate(2px, 0) rotate(-45deg);
      }
      ul li input[type="checkbox"] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
      }
      ul li input[type="checkbox"]:checked ~ p {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transform: translate(0, 50%);
      }
      ul li input[type="checkbox"]:checked ~ .arrow:before {
        transform: translate(2px, 0) rotate(45deg);
      }
      ul li input[type="checkbox"]:checked ~ .arrow:after {
        transform: translate(-2px, 0) rotate(-45deg);
      }
      .transition,
      p,
      ul li .arrow:before,
      ul li .arrow:after {
        transition: all 0.25s ease-in-out;
      }

      .flipIn,
      h1,
      ul li {
        animation: flipdown 0.5s ease both;
      }
      .no-select,
      h2 {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        user-select: none;
      }
      @keyframes flipdown {
        0% {
          opacity: 0;
          transform-origin: top center;
          transform: rotateX(-90deg);
        }

        5% {
          opacity: 1;
        }

        80% {
          transform: rotateX(8deg);
        }

        83% {
          transform: rotateX(6deg);
        }

        92% {
          transform: rotateX(-3deg);
        }

        100% {
          transform-origin: top center;
          transform: rotateX(0deg);
        }
      }
    }
  }
}

.footer {
  background: var(--footer);
  padding: 64px 0 48px 0;

  .container {
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    gap: 32px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .main {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .content {
        .logo {
          position: relative;
          display: inline-block;
          span {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;

            display: flex;
            align-items: center;

            color: white;
          }

          img {
            position: absolute;
            right: -16px;
            top: -12px;
          }
        }

        p {
          font-family: "Poppins";
          font-style: italic;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;

          color: #ffffff;
          margin-top: 16px;
          width: 471px;
        }

        .socials {
          display: flex;
          gap: 36px;
          margin-top: 30px;

          button {
            background: transparent;
            border: none;
            transition: all 0.5s ease-in-out;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      .informacoes {
        h3 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          /* identical to box height */

          display: flex;
          align-items: center;

          color: #ffffff;
        }

        ul {
          list-style: none;
          margin-top: 24px;

          li {
            font-family: "Sora";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;

            color: #ffffff;
            margin-top: 16px;
          }
        }
      }

      .contact {
        h3 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          /* identical to box height */

          display: flex;
          align-items: center;

          color: #ffffff;
        }

        ul {
          list-style: none;
          margin-top: 24px;

          li {
            font-family: "Sora";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;

            color: #ffffff;
            margin-top: 16px;
          }
        }
      }
    }

    .copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid white;
      padding-top: 40px;
      opacity: 0.6;
      width: 100%;

      span {
        font-family: "Sora";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #ffffff;
      }
    }
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  5% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
